<div class="content">
  <%= render 'location_form' %>

  <% if @weather_lookup.error %>
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="error"><%= @weather_lookup.error %></h1>
      </div>
    </div>
  <% else %>
    <div class="col-md-12">
      <div class="jumbotron">
        <h1><%= weather_information %></h1>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-body">
        <h3>Temperature: <%= @weather_lookup.temperature %>&#8457;</h3>
        <h3>Conditions: <%= @weather_lookup.weather_condition %></h3>
        <h3>Location: <%= @weather_lookup.city %>, <%= @weather_lookup.state %></h3>
      </div>
    </div>
  <% end %>
</div>

