<!DOCTYPE html>
<html>
<head>
  <title>DoINeedAJacket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <ul>
    <%= link_to image_tag('facebook.png'), root_path %>
    <%= link_to image_tag('twitter.png'), root_path %>
    <%= link_to image_tag('linkedin.png'), root_path %>
    <%= link_to image_tag('github-2.png'), root_path %>
  </ul>
</footer>
</body>
</html>
